:root,
[data-bs-theme=light]
{--bs-dark-rgb:232,0,232;}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
body {font-family: '微軟正黑體', 'Noto Sans TC', sans-serif;}

html {font-size: 20px;}
h2{font-size: 1.5rem;font-weight: 900;color: rgb(39,102,229);}
.h2-custom-pink{font-size: 3rem;font-weight: 900;color: rgb(255,0,195);}
footer a{text-decoration: none;}
